*{
    margin: 0px;
    padding: 0px;
}

body{
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.navbar{
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar__s1{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-size: 20px;
}

.navbar__s1__desc{
  font-size: 32px;
}

.navbar__s1__desc{
  color: grey;
  font-size: 14px;
  cursor: pointer;
  padding: 10px;
}

.navbar__s1__desc:hover{
  background-color: #EDE5F9;
  color: #A435F0;
}

.navbar__s1__title{
  color: #A435F0;
  cursor: pointer;
}

.navbar__s2{
  border: solid gray 1px;
  border-radius: 50px;
  width: 35%;
  padding: 15px; 
  display: flex;
  flex-grow: 5;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.navbar__s2 input{
  border: none;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
}

.navbar__s2 input:focus{
  outline: none;
}

.navbar__s3{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 5;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.navbar__s3__login{
  background-color: #A435F0;
  color: white;
  border: solid black 2px;
  border-color: #A435F0;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}

.navbar__s3__signup{
  background-color: #A435F0;
  color: white;
  border: solid black 2px;
  border-color: #A435F0;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}

.navbar__s3 i{
  cursor: pointer;
}

.navbar__s3__login:hover,.navbar__s3__signup:hover{
  transform: scale(1.05);
}

.navbar__s3__d1,.navbar__s3__d2,.navbar__s3__d3{
  color: grey;
  font-size: 14px;
  cursor: pointer;
  padding:10px;
  position: relative;
}

.navbar__s3__d1:hover,.navbar__s3__d2:hover,.navbar__s3__d3:hover{
  background-color: #EDE5F9;
  color: #A435F0;
}

/*teach popup*/
.teach__popup{
  position: absolute;
  background-color: white;
  color: black;
  width: 200%;
  padding: 20px;
  right: 0;
  top: 150%;
  display: none;
  font-size: 16px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.navbar__s3__d3:hover .teach__popup{
  display: block;
}

.navbar__s4{
  display: none;
}

.navbar__s5{
  display: none;
}

.navbar__s5 i{
  padding: 5px;
}

.categories{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-grow: 1;
  flex-basis: 50px;
  justify-content: space-around;
  padding: 20px;
  border-bottom: solid black 1px;

}

.categories p{
  background-color: #A435F0;
  color: white;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border: #A435F0 solid 2px;
}

.categories p:hover{
  transform: scale(1.05);
  background-color: transparent;
  color:#A435F0;
}

.sale-image img{
  width: 100%;
}

.sale-image{
  position: relative;
}

.sale-image__2{
  display: none;
}

.sale-image__2 img{
  width: 100%;
}

.sale-image__offer{
  background-color:white;
  border: black solid 2px;
  width: 30%;
  padding: 20px;
  position: absolute;
  top: 50px;
  left: 100px;
  cursor: pointer;
  opacity: 0;
  animation-name: zoom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

@keyframes zoom{
  0%{
    transform: scale(0);
    opacity: 0;
  }

  100%{
    transform: scale(1);
    opacity: 1;
  }
}

.recommended{
  padding: 10px;
  margin: 10px;
}

.recommended-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
  margin-top: 20px;
}

.course-card{
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  text-align: center;
}

.course-card h4{
  color: #A435F0;
} 

.course-card:hover{
  transform: scale(1.05);
}

.course-card h5{
  background-color: black;
  color: white;
  border-radius: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 5px;
  display: inline-block;
}

.course-card h5:hover{
  transform: scale(1.05);
  color: #A435F0;
}

.course-card img{
  width: 100%;
  height: 60%;
}

.topics{
  padding: 10px;
  margin: 10px;
}

.topics__container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.topics__container p{
  border: solid gray 2px;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 25%;
  text-align: center;
  cursor: pointer;
  margin-top: 15px;
}

.topics__container p:hover{
  transform: scale(1.05);
  border-color: #A435F0;
  color: #A435F0;
}


.popular{
  padding: 10px;
  margin: 10px;
}

.popular__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 15px;
  margin-top: 20px;
}

.skills{
  background-color: #2A2B3F;
  color: white;
}

.skills__title{
  border-bottom: solid grey 1px;
  padding: 40px;
}

.skills__desc{
  padding: 35px;
}

.skills__one{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.skills__s1,.skills__s2,.skills__s3,.skills__s4,.skills__s5,.skills__s6,.skills__s7,.skills__s8{
  flex-grow: 1;
  flex-basis: 20%;
  padding: 10px;
  margin-left: 30px;
  cursor: pointer;
}

.skills__s1 p,.skills__s2 p,.skills__s3 p,.skills__s4 p,.skills__s5 p,.skills__s6 p,.skills__s7 p,.skills__s8 p{
  padding: 5px;
  color: grey;
  font-size: 14px;
}

.skills__s1 h5,.skills__s2 h5,.skills__s3 h5,.skills__s4 h5,.skills__s5 h5,.skills__s6 h5,.skills__s7 h5,.skills__s8 h5{
  padding-bottom: 10px;
}

.footer{
  background-color: #202230;
  padding-top: 2%;
}

.footer__one h5{
  color: white;
  padding-bottom: 5px;
}

.footer__one{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  border-bottom: solid grey 1px;
}

.footer__one__s1,.footer__one__s2,.footer__one__s3,.footer__one__s4{
  padding-bottom: 1%;
  flex-grow: 1;
  flex-basis: 20%;
  margin-left: 30px;
  padding: 15px;
}

.footer__one p{
  color: gray;
  padding-top: 5px;
  cursor: pointer;
}

.footer__one p:hover{
  color: #A435F0;
}

.footer__two{
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.footer__two h1{
  color: white;
}

.footer__two p{
  color: grey;
  cursor: pointer;
}

.footer__two p:hover{
  color: #A435F0;
}

.footer__three{
  display: none;
  color: white;
  margin-left: 20px;
  padding-top: 20px;
}




/*Media Queries*/

@media screen and (max-width:800px) {
  body{
    font-size: 14px;
  }

  .skills{
    display: none;
  }

  .footer__one__s1,.footer__one__s2,.footer__one__s3,.footer__one__s4{
    flex-grow: 1;
    flex-basis: 40%;
  }

  .sale-image__offer{
    display: none;
  }
  
}

@media screen and (max-width:600px) {
  .categories{
    display: none;
  }

  .sale-image{
    display: none;
  }

  .sale-image__2{
    display: block;
  }

  .navbar__s3{
    display: none;
  }

  .navbar__s4{
    display: block;
    position: absolute;
  }

  .navbar__s5{
    display: block;
  }

  .navbar__s1__desc,.navbar__s2{
    display: none;
  }

  .navbar{
    padding: 10px;
    position: static;
  }

  .footer__one{
    display: block;
  }

  .footer__one__s1,.footer__one__s2,.footer__one__s3,.footer__one__s4{
    margin: 20px;
  }

  .footer__two{
    display: none;
  }

  .footer__three{
    display: block;
  }

  .footer__three p{
    padding: 20px;
  }

}